#rounded{
    box-shadow: 5px 5px 20px gray;
    width:120px;
    height: 120px;
    border-radius: 50%;
    position:absolute;
    top:7px;
    left:20px;
}
#username{
    color:blueviolet;
    text-align: center;
    font-family: 'Courier New';
    font-size: 25px;
    text-shadow: 3px 3px 10px blue;
}

#hello{
    margin-left: 30px;
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New';
    text-shadow: 3px 3px 10px darkcyan;
    color: darkblue;
}

#filelistprompt{
    color:palevioletred;
    text-align: center;
    font-family: 'Courier New';
    font-size: 20px;
    text-shadow: 3px 3px 10px rebeccapurple;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: dashed;
    border-left: 0px;
    border-right: 0px;
    border-color: gray;
}

#filelist{
    margin-left: 30px;
    margin-right: 30px;
}

#logout{
    position:absolute;
    top:50px;
    right:20px;
    padding: 5px;
    color:darkblue;
    font-family: 'Courier New';
    font-size: 20px;
}

#fileCard{
    float:left;
    height: 150px;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    margin: 5px;

}
#btn{
    padding-top: -20px;
}

#hide{
    display: none;
}

#upload{
    position:absolute;
    top:132px;
    right:0px;
    padding: 5px;
    font-size: 20px;
}

form.fc {
    float:left;
}
