<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body>

    <div id="app">
        <h2>{{ header2 }}</h2>
        <!-- vue on some event -->
        <button v-on:click="header2+=header2">Duplicate</button>
        <button @click="header2='CLEARED'">CLEAR</button>
        <button @click="changeTitle(123)">ChangeTitle</button>

        <div class="box" v-on:mouseover="handleEvent($event,'blah')">mouseover</div>
        <div class="box" v-on:mouseleave="handleEvent">mouseleave</div>
        <div class="box" v-on:dblclick="handleEvent">dblclick</div>
        <div class="box" v-on:mousemove="handleMousemove">mousemove</div>
        <div>
            <p>{{x}}</p>
            <p>{{y}}</p>
        </div>
        <!-- conditional rendering, not in the code if false -->
        <div v-if="condition">
            show while true
        </div>
        <!-- <div v-if="!condition">
            show false
        </div> -->
        <!-- same to code commented out  -->
        <div v-else>
            show else
        </div>
        <button @click="invertCondition">show?</button>

        <!-- hide element by css -->
        <div v-show="!condition">display:None</div>

        <!-- loop -->
        <ul>
            <li v-for="number in numbers" @click="increase(number)">{{number.number}}</li>
        </ul>

        <!-- attr binding -->
        <a v-bind:href="attrBind">attr binding</a><br>
        <a :href="attrBind">attr binding w/ :</a>
        <div :class="{ isTrue: true }">true class</div>
        <div :class="{ isTrue: false }">false class</div>
    
        <!-- computed properties -->
        <strong>increased numbers:</strong>
        <ul>
            <li v-for="n in increasedNumber">{{n}}</li>
        </ul>
    </div>
    <style>
        .isTrue{
            font-weight: bold;
        }
    </style>
    <script src="app.js"></script>
</body>

</html>