*, :active{
    outline: none;
}

*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px #00000050;
	-webkit-box-shadow: inset 0 0 6px #00000050;
	background-color: #1e2025b7;
}

::-webkit-scrollbar
{
	width: 0.6rem;
	background-color: #ffffff50;
}

::-webkit-scrollbar-thumb
{
    box-shadow: inset 0 0 6px #00000050;
	border-radius: 0.5rem;
	-webkit-box-shadow: inset 0 0 6px #00000050;
	background-color: #1d1d22a8;
}

body{
    background-color: #23272A;
    font-family: Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
    color: #97A9B4;
}

.login{
    width: 50%;
    height: 50%;
    margin: 10% auto;
    text-align: center;
}

#connStatus{
    margin-bottom: 1rem;
}

#username{
    margin-bottom: 1rem;
    width: 18rem;
    height: 3rem;
    background-color: #4a4e57;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

#password{
    margin-bottom: 1rem;
    width: 18rem;
    height: 3rem;
    background-color: #4a4e57;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

#btnLogin{
    margin-bottom: 1rem;
    width: 19.4rem;
    height: 3rem;
    background-color: #3365da;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

#btnLogin:hover{
    background-color: #1b49b4;
    transition: all 0.3s ease-in-out;
}

#btnReg{
    margin-bottom: 1rem;
    width: 19.4rem;
    height: 3rem;
    background-color: #33a868;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

#btnReg:hover{
    background-color: #288653;
    transition: all 0.3s ease-in-out;
}

.chatroom{
    position: absolute;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    left:0rem;
    background-color: rgb(0, 0, 0);
}

.displayNone{
    display: none;
}

.namespaces{
    position: absolute;
    left: 0rem;
    top: 0rem;
    bottom: 0rem;
    background-color: #23272A;
    width: 15%;
    overflow-y: hidden;
}

.namespaces .add{
    position: absolute;
    top:0rem;
    left:0rem;
    height:6.2rem;
    width:100%;
    font-size: 1.1rem;
    background-color: #353b3f;
    font-family: Helvetica, Arial, sans-serif;
    color: #b7c7d1;
}

.namespaces .add #inputServerName{
    position: absolute;
    top:0.3rem;
    left:0.3rem;
    height: 2.5rem;
    width: 60%;
    background-color: #6e7480;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    color:whitesmoke;
}

#inputServerName::placeholder{
    color:rgb(185, 185, 185);
}

.namespaces .add #inputServerPW{
    position: absolute;
    left:0.3rem;
    bottom:0.3rem;
    height: 2.5rem;
    width: 60%;
    background-color: #6e7480;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    color:whitesmoke;
}

#inputServerPW::placeholder{
    color:rgb(185, 185, 185);
}

.namespaces .add #btnJoinServer{
    position: absolute;
    top:0.3rem;
    right:0.3rem;
    color: #969ead;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin: 0px;
    
    background-color: #3365da;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.namespaces .add #btnJoinServer:hover{
    background-color: #1b49b4;
    transition: all 0.3s ease-in-out;
}

.namespaces .add #btnNewServer{
    position: absolute;
    bottom:0.3rem;
    right:0.3rem;
    color: #969ead;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin: 0px;
    
    background-color: #33a868;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.namespaces .add #btnNewServer:hover{
    background-color: #288653;
    transition: all 0.3s ease-in-out;
}

.namespaces .server-list{
    position: absolute;
    left: 0rem;
    top: 6.2rem;
    bottom: 0rem;
    background-color: #23272A;
    width: 100%;
    overflow-y: auto;
}

.namespaces .server-list li{
    border-radius: 0.5rem;
    padding: 1rem;
    /* padding: 8px; */
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

/* .namespaces .server-list li[isEvent=true]{
    color: #ffffff;
    background-color: #F5A1A3;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 8px;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
} */

.namespaces .server-list li:hover{
    background-color: #ffffff10;
    /* color: #aaaaaa; */
    transition: all 0.3s ease-in-out;
}

.namespaces .server-list li.selected{
    border:#10358b;
    border-width: 0.2rem;
    border-style: solid;
    font-weight: bold;
    color:whitesmoke;
}


.rooms{
    position: absolute;
    left: 15%;
    top: 0rem;
    bottom: 0rem;
    background-color: #2C2F33;
    width: 15%;
    overflow-y: hidden;
}
.rooms .newChannel{
    position:absolute;
    top: 0;
    left:0;
    height: 6.2rem;
    width:100%;
    background-color: #23272A;
    text-align: center;
}

#inputChannelName{
    /* position:absolute;
    top:0.3rem;
    left:0.3rem;
    right:0.3rem;
    height:2.5rem; */
    height:2.5rem;
    width: 80%;
    background-color: #6e7480;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    color:whitesmoke;
    margin-bottom: 0.6rem;
    margin-top: 0.3rem;
}

#inputChannelName::placeholder{
    color:rgb(185, 185, 185);
}

#btnCreateChannel{
    /* position: absolute;
    top:3.1rem;
    left:0.3rem; */
    color: #969ead;
    font-size: 1rem;
    width: 90%;
    height: 2.5rem;
    text-align: center;
    margin: 0px;
    
    background-color: #3365da;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

#btnCreateChannel:hover{
    background-color: #1b49b4;
    transition: all 0.3s ease-in-out;
}

.rooms .room-list{
    position: absolute;
    top:6.2rem;
    left: 0rem;
    bottom: 3.6rem;
    background-color: #2C2F33;
    width: 100%;
    overflow-y: auto;
}

.rooms .room-list li{
    border-radius: 0.5rem;
    padding: 1rem;
    /* padding: 8px; */
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

.rooms .room-list li:hover{
    background-color: #ffffff10;
    /* color: #aaaaaa; */
    transition: all 0.3s ease-in-out;
}

.rooms .room-list li.selected{
    border:#3365da;
    border-width: 0.1rem;
    border-style: solid;
    font-weight: bold;
    color:whitesmoke;
}

.rooms .user{
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
    height: 3.6rem;
    background-color: #2e353b;
}

.rooms .user #btnUser{
    position: absolute;
    left: 0.55rem;
    top:0.55rem;
    bottom: 0.55rem;
    width: 45%;
    height: 2.5rem;
    background-color: #33a868;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.rooms .user #btnUser:hover{
    background-color: #288653;
    transition: all 0.3s ease-in-out;
}

.rooms .user #btnLogout{
    position: absolute;
    right: 0.55rem;
    top:0.55rem;
    bottom: 0.55rem;
    width: 45%;
    height: 2.5rem;
    background-color: #db3131;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.rooms .user #btnLogout:hover{
    background-color: #af2727;
    transition: all 0.3s ease-in-out;
}

.chats{
    position: absolute;
    right: 15%;
    top: 0rem;
    bottom: 0rem;
    left:30%;
    background-color: #474b52;
    overflow-y: hidden;
}

.chats .chat-list{
    position: absolute;
    top: 0rem;
    right: 0rem;
    bottom: 5rem;
    left:0rem;
    width: 100%;
    overflow: auto;
}

.chats .chat-list li{
    border-radius: 0.5rem;
    padding: 0.7rem;
    /* padding: 8px; */
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

.chats .chat-list li:hover{
    background-color: #ffffff10;
    /* color: #aaaaaa; */
    transition: all 0.3s ease-in-out;
}

.chats .chat-list li a{
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}

.chats .chat-list li p{
    font-weight: bold;
    color: whitesmoke;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}


.text-field{
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    left:0rem;
    min-height: 5rem;
    background-color: #585d66;
}

.text-field #textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    bottom: 0.5rem;
    top:0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    /* resize: none; */
    background-color: #6e7480;
    border: 0px;
    border-radius: 0.5rem;
    padding: 0.6rem;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    color: #b7c7d1;
    overflow-y: hidden;
}


.members{
    position: absolute;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    background-color: #2C2F33;
    width: 15%;
    overflow-y: auto;
}

.members .member-list li{
    border-radius: 0.5rem;
    padding: 1rem;
    /* padding: 8px; */
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

.members .member-list li:hover{
    background-color: #ffffff10;
    /* color: #aaaaaa; */
    transition: all 0.3s ease-in-out;
}

.members .member-list li.owner a{
    color: #ca1d48;
    font-weight: bold;
}

/* .members .member-list li.owner{
    color:
} */



