*, :active{
    outline: none;
}

*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #00000050;
	background-color: #1e2025b7;
}

::-webkit-scrollbar
{
	width: 0.6rem;
	background-color: #ffffff50;
}

::-webkit-scrollbar-thumb
{
	border-radius: 0.5rem;
	-webkit-box-shadow: inset 0 0 6px #00000050;
	background-color: #1d1d22a8;
}

body{
    background-color: rgb(230, 230, 230);
    font-family: Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
    color: #97A9B4;
}

.no-login{
    position: absolute;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    left:0rem;
    background-color: darkgray;
}

.login{
    position: absolute;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    left:0rem;
    background-color: rgb(0, 0, 0);
}

.displayNone{
    display: none;
}

.namespaces{
    position: absolute;
    left: 0rem;
    top: 0rem;
    bottom: 0rem;
    background-color: #23272A;
    width: 15%;
    overflow-y: auto;
}

.namespaces .server-list li{
    border-radius: 0.5rem;
    padding: 1rem;
    /* padding: 8px; */
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}

/* .namespaces .server-list li[isEvent=true]{
    color: #ffffff;
    background-color: #F5A1A3;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 8px;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
} */

.namespaces .server-list li:hover{
    background-color: #ffffff10;
    /* color: #aaaaaa; */
    transition: all 0.3s ease-in-out;
}



.rooms{
    position: absolute;
    left: 15%;
    top: 0rem;
    bottom: 0rem;
    background-color: #2C2F33;
    width: 15%;
    overflow-y: auto;
}

.rooms .room-list li{
    border-radius: 0.5rem;
    padding: 1rem;
    /* padding: 8px; */
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}

.rooms .room-list li:hover{
    background-color: #ffffff10;
    /* color: #aaaaaa; */
    transition: all 0.3s ease-in-out;
}


.chats{
    position: absolute;
    right: 15%;
    top: 0rem;
    bottom: 0rem;
    left:30%;
    background-color: #474b52;
    overflow-y: hidden;
}

.chats .chat-list{
    position: absolute;
    top: 0rem;
    right: 0rem;
    bottom: 5rem;
    left:0rem;
    width: 100%;
    overflow: auto;
}

.chats .chat-list li{
    border-radius: 0.5rem;
    padding: 1rem;
    /* padding: 8px; */
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}

.chats .chat-list li:hover{
    background-color: #ffffff10;
    /* color: #aaaaaa; */
    transition: all 0.3s ease-in-out;
}


.text-field{
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    left:0rem;
    min-height: 5rem;
    background-color: #585d66;
}

.text-field textarea{
    position: absolute;
    bottom: 0.5rem;
    top:0.5rem;
    left: 0.5rem;
    resize: none;
    width:90%;
    background-color: #6e7480;
    border: 0px;

}


.members{
    position: absolute;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    background-color: #2C2F33;
    width: 15%;
    overflow-y: auto;
}

.members .member-list li{
    border-radius: 0.5rem;
    padding: 1rem;
    /* padding: 8px; */
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}

.members .member-list li:hover{
    background-color: #ffffff10;
    /* color: #aaaaaa; */
    transition: all 0.3s ease-in-out;
}




