#calendar{
    position: absolute;
    border-radius: 1%;
    overflow: hidden;
    width: 80%;
    height: 60%;
    left: 10%;
    top: 20%;
    /* background-color: #ffffff;
    color: #333333; */
}

.col{
    position:relative;
    float:left;
}

.date{
    width:60%;
    /* background-color:; */
}

.events{
    width:40%;
    background-color: #F48989;
}

input.year{
    background-color: rgba(0, 0, 255, 0);
    border:0px;
    /* color:black; */
}

input.year:focus{
    outline-color:red;
}


/* month */
.months li,
.weekday li,
.days li{
  float: left;
  text-transform: uppercase;
}

ul li{
    list-style: none;
}

