*, :active{
    outline: none;
}

*{
    padding: 0px;
    margin: 0px;
}

.displayNone{
    display: none;
}

body{
    background-color: rgb(230, 230, 230);
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.spacer10{
    padding: 10px;
}
.spacer15{
    padding: 15px;
}

.calendar{
    position: absolute;
    border-radius: 4px;
    overflow: hidden;

    width: 840px;
    height: 600px;
    left: 50%;
    margin-left: -420px;
    margin-top: -300px;
    top: 50%;
    background-color: white;
    color: #333333;
    transition: all 0.3s ease-in-out;
}

/* .month{
    text-align: center;
} */

.month a.prev{
    margin-right: 10px;
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 3px;
    color: #747978;
}

.month a.next{
    margin-left: 10px;
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 3px;
}

.month a:hover{
    background-color: #EEEDE9;
    color: #747978;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.calendar2{
    position: absolute;
    border-radius: 4px;
    overflow: hidden;

    width: 1200px;
    height: 600px;
    left: 50%;
    margin-left: -600px;
    margin-top: -300px;
    top: 50%;
    background-color: white;
    color: #333333;
    transition: all 0.3s ease-in-out;
}

.row{
    position: relative;
    width: 100%;
}

.row.top{
    height: 10%;
    background-color: #333333;
}

.row.top h3{
    margin-top: 19px;
    margin-left: 8px;
    float: left;
}

.row.top h3 a{
    background-color: #888888;
    color: #eeeeee;
    transition: all 0.3s ease-in-out;
    padding: 8px;
    border-radius: 12px;
}

.row.top h3 a:hover{
    background-color: #EEEDE9;
    color: #747978;
    transition: all 0.3s ease-in-out;
    padding: 8px;
    border-radius: 12px;
}

.row.bottom{
    height: 90%;
    background-color: #ffffff;
}

.col{
    position: relative;
    float: left;
    height: 100%;
}

.col.left{
    width: 57.14%;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.col.middle{
    width: 42.86%;
    background-color: #F48989;
    transition: all 0.3s ease-in-out;
}

.col.right{
    width: 0%;
    background-color: #89cdf4;
    transition: all 0.3s ease-in-out;
}

.col.left2{
    width: 40%;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.col.middle2{
    width: 30%;
    background-color: #F48989;
    transition: all 0.3s ease-in-out;
}

.col.right2{
    width: 30%;
    background-color: #89cdf4;
    transition: all 0.3s ease-in-out;
}

.content{
    padding: 40px;
}

li{
    list-style: none;
}

.weekdays li,
.days li{
  float: left;
  text-transform: uppercase;
}

a{
    text-decoration: none;
    color: #747978;
}

.weekdays a,
.days a{
  display: block;
  color: #747978;
}

.weekdays li,
.days li{
    width: 55px;
}

.weekdays a{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.days a{
    width: 36px;
    height: 24px;
    text-align: center;
    margin: auto auto;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 2px;
    transition: all 0.3s ease-in-out;
}
  
.days a:hover{
    background-color: #EEEDE9;
    color: #747978;
    transition: all 0.3s ease-in-out;
}

.days li .event{
    color: #ff777a;
}

.days li .today{
    background-color: #89cdf4;
    color: #ffffff;
}

.days li .selected{
    background-color: #F5A1A3;
    color: #ffffff;
}

.days li .event{
    color: #ff777a;
}

.col.middle h2{
    margin-top: -20px;
}

#addEvent{
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
    color: #333333;
    font-size: 40px;
    width: 36px;
    height: 24px;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

#addEvent:hover{
    background-color: #F5A1A3;
    /* color: #aaaaaa; */
    transition: all 0.3s ease-in-out;
}

#weekday{
    font-size: 35px;
}

.eventList{
    margin-top: 10px;
}

.eventList li{
    color: #ffffff;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.eventList li:hover{
    background-color: #F5A1A3;
    /* color: #aaaaaa; */
    transition: all 0.3s ease-in-out;
}