<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="cal.css">
    <script src="script/calender.js"></script>
    <script src="script/query.js"></script>
</head>

<body>
    <button onclick="wide()">wide</button>
    <button onclick="narrow()">narrow</button>

    <div id=login class="displayNone">
        <input type="text" name="username" id="username" placeholder="username">
        <input type="password" name="password" id="password" placeholder="password">
        <button id="loginBtn">LOGIN</button>
        <button id="regBtn">REGISTER</button>
    </div>

    <div id="logout" class="displayNone">
        <div>
            <h1 id="hi"></h1>
            <button id="logoutBtn">LOGOUT</button>
        </div>
        <br><br>
        <div>
            <input type="text" name="joinGroup" id="joinGroup" placeholder="code for join group!"><br>
            <button onclick="joinGroup()">Join!</button>
        </div>
        <br><br>
        <div>
            <input type="text" name="createGroup" id="createGroup" placeholder="create group!"><br>
            <button onclick="createGroup()">Create!</button>
            <p>Group Code: <br><span id="groupCode"></span></p>
        </div>
        <br><br>
        <div>
            <input type="text" name="sharedEvent" , id="sharedEvent" placeholder="code for shared event!"><br>
            <button onclick="addSharedEvent()">Add!</button>
        </div>


    </div>

    <div class="calendar">
        <div id="tags" class="row top">
            <h3><a href="#">work</a></h3>
            <h3><a href="#">home</a></h3>
            <h3><a href="#">course</a></h3>
            <h3><a href="#">group1</a></h3>
        </div>
        <div class="row bottom">
            <div class="col left">
                <div class="content">
                    <h1 id="year">
                        <!-- year -->
                    </h1>
                    <h2 class="month">
                        <a class="prev" href="#">←</a>
                        <span id="month">
                            <!-- month -->
                        </span>
                        <a class="next" href="#">→</a>
                    </h2>
                    <div class="spacer10"></div>
                    <ul class="weekdays">
                        <li><a href="#">SUN</a></li>
                        <li><a href="#">MON</a></li>
                        <li><a href="#">TUE</a></li>
                        <li><a href="#">WED</a></li>
                        <li><a href="#">THU</a></li>
                        <li><a href="#">FRI</a></li>
                        <li><a href="#">SAT</a></li>
                    </ul>
                    <ul id="days" class="days">
                        <!-- dates -->
                    </ul>
                </div>
            </div>

            <div class="col middle">
                <div class="content">
                    <h2><span id="weekday">
                            <!-- weekday -->
                        </span><a id="addEvent" href="#">+</a></h2>
                    <div class="events">
                        <ul class="eventList">
                            <!-- events -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col right">
                <div class="content">
                    <div id="editor">
                        <input type="datetime-local" name="begin" id="date-begin">
                        <input type="datetime-local" name="end" id="date-end">
                        <select name="group" id="groups">
                            <!-- groups -->
                        </select>
                        <textarea name="title" id="title" cols="30" rows="2" placeholder="Title"></textarea>
                        <textarea name="Detail" id="detail" cols="30" rows="2" placeholder="Detail"></textarea>
                        <button id="submit">Submit</button>
                    </div>
                    <div id="eventDetail" class="displayNone">
                        test
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        const months = {
            0: "January", 1: "February", 2: "March", 3: "April", 4: "May",
            5: "June", 6: "July", 7: "August", 8: "September", 9: "October", 10: "November", 11: "December"
        };
        const weekdays = {
            0: "Sunday", 1: "Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday"
        }
        const calendar = document.getElementsByClassName("calendar")[0];
        const colLeft = document.getElementsByClassName("col left")[0];
        const colMiddle = document.getElementsByClassName("col middle")[0];
        const colRight = document.getElementsByClassName("col right")[0];
        const days = document.getElementById("days");
        const year = document.getElementById("year");
        const month = document.getElementById("month");
        const weekday = document.getElementById("weekday");

        // cal
        const prev = document.getElementsByClassName("prev")[0];
        const next = document.getElementsByClassName("next")[0];

        prev.addEventListener("click", (event) => {
            let m = new Month(currentCal.getFullYear(), currentCal.getMonth());
            currentCal = m.prevMonth().getWeeks()[1].getDates()[1];
            drawCalender();
        }, false);

        next.addEventListener("click", (event) => {
            let m = new Month(currentCal.getFullYear(), currentCal.getMonth());
            currentCal = m.nextMonth().getWeeks()[1].getDates()[1];
            drawCalender();
        }, false);

        //



        // Login Logout Register
        const regBtn = document.getElementById("regBtn");
        const loginBtn = document.getElementById("loginBtn");
        const logoutBtn = document.getElementById("logoutBtn");
        const username = document.getElementById("username");
        const password = document.getElementById("password");
        const loginDiv = document.getElementById("login");
        const logoutDiv = document.getElementById("logout");
        const hiMsg = document.getElementById("hi");

        let currentCal = new Date();
        let selectedDay = null;
        let monthlyEvents = null;

        regBtn.addEventListener('click', (event) => {
            let utxt = username.value;
            let pwtxt = password.value;
            let regex = /^[\w_\.\-]+$/;
            if (!regex.test(utxt) || pwtxt == '') {
                alert("Invalid Input");
            } else {
                post('/user/register.php', {
                    username: utxt,
                    password: pwtxt
                }).then(res => {
                    if (res['code'] == 1) {
                        localStorage.setItem('uid', res['data']['uid']);
                        localStorage.setItem('token', res['data']['token']);
                        localStorage.setItem('username', res['data']['username']);
                        // do something after login
                        initUserFunc();
                    } else {
                        alert("Register Failed!")
                    }
                })
            }
        }, false);

        loginBtn.addEventListener('click', (event) => {
            let utxt = username.value;
            let pwtxt = password.value;
            let regex = /^[\w_\.\-]+$/;
            if (!regex.test(utxt) || pwtxt == '') {
                alert("Invalid Input!");
            } else {
                post('/user/login.php', {
                    username: utxt,
                    password: pwtxt
                }).then(res => {
                    if (res['code'] == 1) {
                        localStorage.setItem('uid', res['data']['uid']);
                        localStorage.setItem('token', res['data']['token']);
                        localStorage.setItem('username', res['data']['username']);
                        // do something after login
                        initUserFunc();
                    } else {
                        alert("Wrong Username or Password!")
                    }
                })
            }
        }, false);

        logoutBtn.addEventListener('click', (event) => {
            post('/user/logout.php', {
                uid: localStorage.uid,
                token: localStorage.token
            }).then(res => {
                // clear localstorage
                localStorage.removeItem('uid');
                localStorage.removeItem('token');
                localStorage.removeItem('username');

                // do something after logout
                initGuestFunc()

                if (!res['code'] == 1) {
                    alert("Invalid Access!");
                }
            })
        }, false)

        function showLogout() {
            removeAllChildNodes(hiMsg);
            hiMsg.append("Hi " + localStorage.username + "!");
            loginDiv.setAttribute("class", "displayNone");
            logoutDiv.removeAttribute("class");
        }

        function showLogin() {
            loginDiv.removeAttribute("class");
            logoutDiv.setAttribute("class", "displayNone");
        }
        //

        const dateBegin = document.getElementById("date-begin");
        const dateEnd = document.getElementById("date-end");
        const submit = document.getElementById("submit");
        const title = document.getElementById("title");
        const detail = document.getElementById("detail");
        const tags = document.getElementById("tags");
        const addEvent = document.getElementById("addEvent");
        const eventList = document.getElementsByClassName("eventList")[0];

        // Doc Init

        document.addEventListener("DOMContentLoaded", initCalender, false);

        function initCalender() {
            if (localStorage.token === undefined || localStorage.uid === undefined) {
                initGuestFunc();
            } else {
                post(
                    "/user/isLogin.php", {
                    uid: localStorage.uid,
                    token: localStorage.token
                }).then(res => {
                    if (res["code"] == 1) {
                        initUserFunc();

                    } else {
                        initGuestFunc();
                    }
                });
            }
        }

        function initUserFunc() {
            showLogout();
            addEvent.addEventListener("click", wide, false);
            submit.addEventListener("click", submitEvent, false);
            drawCalender()
        }


        function initGuestFunc() {
            localStorage.removeItem('uid');
            localStorage.removeItem('token');
            localStorage.removeItem('username');
            showLogin();
            addEvent.removeEventListener("click", wide, false);
            submit.removeEventListener("click", submitEvent, false)
            drawCalender();
        }

        function submitEvent() {
            console.log(parseInt(dateBegin.valueAsNumber / 1000));
            console.log(parseInt(dateEnd.valueAsNumber / 1000));
            if (dateEnd.valueAsNumber < dateBegin.valueAsNumber) {
                //wrong
            }
            console.log(title.value);
            console.log(detail.value);
        }

        function drawCalender() {
            let currnetDate = new Date();
            let currentMonth = new Month(currentCal.getFullYear(), currentCal.getMonth());
            let weeks = currentMonth.getWeeks();
            let beginTS = parseInt((weeks[0].getDates()[0].getTime()) / 1000);
            let endTS = parseInt((weeks[weeks.length - 1].nextWeek().getDates()[0].getTime() - 1) / 1000);

            // fix timezone switch
            let offset = weeks[0].getDates()[0].getTimezoneOffset();
            let endTS2 = 0;
            let beginTS2 = 0;
            breakFlag:
            for (let week of weeks) {
                for (let date of week.getDates()) {
                    if(date.getTimezoneOffset() != offset){
                        beginTS2 = parseInt(date.getTime()/1000);
                        endTS2 = parseInt(date.getTime()/1000)-1;  
                        break breakFlag;
                    }
                }
            }

            // try query data
            if (localStorage.token === undefined || localStorage.uid === undefined) {
                // draw cal
                removeAllChildNodes(days);
                for (let week of weeks) {
                    for (let date of week.getDates()) {
                        let li = document.createElement('li');
                        let a = document.createElement('a');
                        a.append(date.getDate());
                        a.setAttribute("href", "#");
                        a.setAttribute("weekday", weekdays[date.getDay()]);
                        a.setAttribute("timestamp", parseInt(date.getTime() / 1000))

                        if (
                            currnetDate.getDate() == date.getDate() &&
                            currnetDate.getMonth() == date.getMonth() &&
                            currnetDate.getFullYear() == date.getFullYear()
                        ) {
                            // a.setAttribute("class", "today");
                            a.classList.add("today");
                        }
                        li.append(a);
                        days.append(li);

                        // update selected date
                        if (selectedDay != null && selectedDay.getAttribute("timestamp") >= beginTS && selectedDay.getAttribute("timestamp") <= endTS) {
                            if (selectedDay.getAttribute("timestamp") == a.getAttribute("timestamp")) {
                                setSelectedDate(a, false);
                            }
                        } else {
                            setSelectedDate(a, false);
                        }

                        a.addEventListener("click", (event) => {
                            setSelectedDate(a, false);
                        }, false);

                    }
                }
                removeAllChildNodes(year);
                year.append(currentCal.getFullYear());
                removeAllChildNodes(month);
                month.append(months[currentCal.getMonth()]);
            } else {
                post('/event/getMonthlyEvents.php', {
                    uid: localStorage.uid,
                    token: localStorage.token,
                    beginTS: beginTS,
                    endTS: endTS,
                    beginTS2: beginTS2,
                    endTS2: endTS2
                }).then(res => {
                    if (res['code'] == 1) {
                        // store events of this month;
                        monthlyEvents = res['data'];

                        // draw cal
                        removeAllChildNodes(days);
                        for (let week of weeks) {
                            for (let date of week.getDates()) {
                                let li = document.createElement('li');
                                let a = document.createElement('a');
                                a.append(date.getDate());
                                a.setAttribute("href", "#");
                                a.setAttribute("weekday", weekdays[date.getDay()]);
                                a.setAttribute("timestamp", parseInt(date.getTime() / 1000))

                                // show if has event
                                if (!monthlyEvents[a.getAttribute("timestamp")]) {
                                    console.log(a.getAttribute("timestamp"));
                                }
                                if (monthlyEvents[a.getAttribute("timestamp")].length) {
                                    a.classList.add("event");
                                }

                                if (
                                    currnetDate.getDate() == date.getDate() &&
                                    currnetDate.getMonth() == date.getMonth() &&
                                    currnetDate.getFullYear() == date.getFullYear()
                                ) {
                                    // a.setAttribute("class", "today");
                                    a.classList.add("today");
                                }
                                li.append(a);
                                days.append(li);

                                // update selected date
                                if (selectedDay != null && selectedDay.getAttribute("timestamp") >= beginTS && selectedDay.getAttribute("timestamp") <= endTS) {
                                    if (selectedDay.getAttribute("timestamp") == a.getAttribute("timestamp")) {
                                        setSelectedDate(a, true);
                                    }
                                } else {
                                    setSelectedDate(a, true);
                                }

                                a.addEventListener("click", (event) => {
                                    setSelectedDate(a, true);
                                }, false);

                            }
                        }
                        removeAllChildNodes(year);
                        year.append(currentCal.getFullYear());
                        removeAllChildNodes(month);
                        month.append(months[currentCal.getMonth()]);


                    } else {
                        initGuestFunc();
                        alert("Invalid user credential!");
                    }
                })
            }
        }

        function getMonthlyData(yr, mo) {
            let isLogin = false;

            let currentMonth = new Month(yr, mo);
            let weeks = currentMonth.getWeeks();

            let beginTS = parseInt((weeks[0].getDates()[0].getTime()) / 1000);
            let endTS = parseInt((weeks[weeks.length - 1].nextWeek().getDates()[0].getTime() - 1) / 1000);

            //todo
        }

        function setSelectedDate(date, isLogin) {
            // set selected date class
            date.classList.add("selected")

            if (selectedDay != null) {
                // remove old selected date's 'selected' class
                selectedDay.classList.remove("selected");
            }
            selectedDay = date;

            // update event bar
            removeAllChildNodes(weekday);
            weekday.append(selectedDay.getAttribute("weekday"));
            removeAllChildNodes(eventList);
            if (!isLogin) {
                let noticeEvent = document.createElement("li");
                noticeEvent.append("Login to access full features!");
                eventList.append(noticeEvent);
            } else {
                // if we successfully got event lists
                if (monthlyEvents) {
                    let ts = date.getAttribute("timestamp");
                    let dailyEvents = monthlyEvents[ts];
                    let count = 0;
                    for (let event of dailyEvents) {
                        let e = document.createElement("li");
                        let a = document.createElement("a");
                        e.append(event["title"]);
                        eventList.append(e);
                        count++;
                    }
                    // no event on that day...
                    if (count == 0) {
                        let noticeEvent = document.createElement("li");
                        noticeEvent.append("Today has no event!");
                        eventList.append(noticeEvent);
                    }
                } else {
                    let noticeEvent = document.createElement("li");
                    noticeEvent.append("Something went wrong, please refresh page!");
                    eventList.append(noticeEvent);
                }
            }
        }

        function prepareAdd() {
            post("/category/getCates.php", {
                uid: localStorage.uid,
                token: localStorage.token
            }).then(res => {
                if (res["code"]) {


                }
            })
        }

        function removeAllChildNodes(parent) {
            while (parent.firstChild) {
                parent.removeChild(parent.firstChild);
            }
        }

        function removeAllListener(element) {
            let clone = element.cloneNode(true);
            element.parentNode.replaceChild(clone, element);
        }

        function wide() {
            calendar.setAttribute("class", "calendar2");
            colLeft.setAttribute("class", "col left2");
            colMiddle.setAttribute("class", "col middle2");
            colRight.setAttribute("class", "col right2");
        }

        function narrow() {
            calendar.setAttribute("class", "calendar");
            colLeft.setAttribute("class", "col left");
            colMiddle.setAttribute("class", "col middle");
            colRight.setAttribute("class", "col right");
        }

        // extra credit
        function joinGroup() {
            let uuid = document.getElementById("joinGroup").value;
            let regex = /^[\w_\.\-]+$/;
            if (!regex.test(uuid)) {
                alert("Invalid Input!");
            } else {
                post("/group/joinGroup.php", {
                    uid: localStorage.uid,
                    token: localStorage.token,
                    uuid: uuid
                }).then(res => {
                    if (res["code"]) {
                        initUserFunc();
                        alert("Joined!");
                    } else if (res["code"] == 0) {
                        initGuestFunc();
                        alert("Invalid user credential!")
                    } else {
                        alert("Error, please refresh webpage!");
                    }
                })
            }

        }

        function createGroup() {
            let groupName = document.getElementById("createGroup").value;
            let regex = /^[\w_\.\-]+$/;
            if (!regex.test(groupName)) {
                alert("Invalid Input!");
            } else {
                post("/group/addGroup.php", {
                    uid: localStorage.uid,
                    token: localStorage.token,
                    name: groupName
                }).then(res => {
                    if (res["code"]) {
                        alert("Group " + name + " created!");
                        removeAllChildNodes(document.getElementById("groupCode"));
                        document.getElementById("groupCode").append(res["data"]["uuid"]);
                    } else if (res["code"] == 0) {
                        initGuestFunc();
                        alert("Invalid user credential!")
                    } else {
                        alert("Error, please refresh webpage!");
                    }
                })
            }
        }

        function addSharedEvent() {
            let shareToken = document.getElementById("sharedEvent").value;
            let regex = /^[\w_\.\-]+$/;
            if (!regex.test(shareToken)) {
                alert("Invalid Input!");
            } else {
                post("/event/addShare.php", {
                    uid: localStorage.uid,
                    token: localStorage.token,
                    shareToken: shareToken
                }).then(res => {
                    if (res["code"]) {
                        initUserFunc();
                        alert("Added!");
                    } else if (res["code"] == 0) {
                        initGuestFunc();
                        alert("Invalid user credential!")
                    } else {
                        alert("Error, please refresh webpage!");
                    }
                })
            }
        }

    </script>
</body>

</html>