.calender{
	width:400px;
	height: 450px;
	border-width:1px;
	border-style:solid;
    border-color: #141211ea;
}

.event{
    margin-top:-450px;
	margin-left:540px;
}

.event ul{
    font-family:arial;
	font-size:15px;
	font-weight: bold;
}


.calender-top{
	color:#e94015;
    text-align: center;
   
}

.Quit{
	display: none;
}

.month{
    color:rgb(0, 255, 149);
    text-align: center;
    font-size:20px;
}


.calender-day tr{
	font-family:arial;
	font-size:15px;
}

.calender-day tr td{
    width:14.28%;
	line-height:40px;
	box-sizing:border-box;
	float:left;
	text-align:center;
}


