<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="style/myCalender.css">
    <script src="script/calender.js"></script>
    <script src="script/query.js"></script>
</head>

<body>
    <div id="calendar">
        <div class="col date">
            <input class="year" type="text" name="test" id="year" value="2021">
        </div>

        <div class="col events">
            dasfdsa

        </div>
    </div>


    <script>
        const year = document.getElementById("year");
        const prevMon = document.getElementById("prevMon");
        const nextMon = document.getElementById("nextMon");

        function initCalender() {
            let currnetDate = new Date();
            let data = getMonthlyData(currnetDate.getFullYear(), currnetDate.getMonth());

        }

        function getMonthlyData(yr, mo) {
            let currentMonth = new Month(yr, mo);
            let weeks = currentMonth.getWeeks();

            let beginTS = parseInt((weeks[0].getDates()[0].getTime()) / 1000);
            let endTS = parseInt((weeks[weeks.length - 1].nextWeek().getDates()[0].getTime() - 1) / 1000);

            post(
                "/user/session.php", {
                beginTS: beginTS,
                endTS: endTS
            }).then(res => {
                console.log(res)
            });

            // console.log(beginTS);
            // console.log(endTS);
            for(let week of weeks){
                let dates = week.getDates();
                for(let i = 0; i < 7 ; i++){

                }
            }
        }

        function refreshCalender(yr, mon) {

        }

        document.addEventListener("DOMContentLoaded", initCalender, false);

        year.addEventListener("blur", (event) => {
            //Update Year when lose focus
            // you can get value like this:
            let test = document.getElementById("test").textContent = year.value;
        })

        prevMon.addEventListener("click", (event) => {
            //query data of prev month
            //getMonthlyData()
        }, false)

        nextMon.addEventListener("click", (event) => {
            //query data of next month
            //getMonthlyData()
        }, false)




    </script>
</body>

</html>