<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="style/myCalender.css">
</head>

<body>
    <div id="calendar">
        <div class="col date">
            <input class="year" type="text" name="test" id="year" value="dfsfa" >
            <ul class="months">
                <li><button id="prevMon">←</button></li>
                <li><a href="#" title="Jan" data-value="1">Jan</a></li>
                <li><a href="#" title="Feb" data-value="2">Feb</a></li>
                <li><a href="#" title="Mar" data-value="3">Mar</a></li>
                <li><a href="#" title="Apr" data-value="4">Apr</a></li>
                <li><a href="#" title="May" data-value="5">May</a></li>
                <li><a href="#" title="Jun" data-value="6">Jun</a></li>
                <li><a href="#" title="Jul" data-value="7">Jul</a></li>
                <li><a href="#" title="Aug" data-value="8">Aug</a></li>
                <li><a href="#" title="Sep" data-value="9" class="selected">Sep</a></li>
                <li><a href="#" title="Oct" data-value="10">Oct</a></li>
                <li><a href="#" title="Nov" data-value="11">Nov</a></li>
                <li><a href="#" title="Dec" data-value="12">Dec</a></li>
                <li><button id="nextMon">→</button></li>
            </ul>
        </div>

        <div class="col events">
            dasfdsa
            
        </div>
<p id ="test"></p>
    </div>


    <script>
        const year = document.getElementById("year");
        const prevMon = document.getElementById("prevMon");
        const nextMon = document.getElementById("nextMon");

        // document.addEventListener("click", (event)=>{
        //     if(!year.disabled){
        //         year.disabled = true;
        //     }
        // },true)


        // year.addEventListener("click", (event)=>{
        //     if(year.readOnly){
        //         year.readOnly = false;
        //         // event.stopPropagation();
        //     }
        // }, false)

        year.addEventListener("blur", (event)=>{
            //Update Year when lose focus
            let test = document.getElementById("test").textContent=year.value;
        })

        prevMon.addEventListener("click", (event)=>{
            //update month

        },false)

        nextMon.addEventListener("click", (event)=>{
            //update month

        },false)


    </script>
</body>
</html>